{% load ui %}
<a href="{% url 'owner_home' %}" data-nav="owner_home" class="app-tab">{% icon "dashboard" 20 css_class="app-tab__icon" %}<span>{% t 'home' %}</span></a>
<a href="{% url 'listings:owner_list' %}" data-nav="owner_list" class="app-tab">{% icon "store" 20 css_class="app-tab__icon" %}<span>{% t 'properties' %}</span></a>
<a href="{% url 'bookings:owner_list' %}" data-nav="owner_list_book" class="app-tab">{% icon "clipboard" 20 css_class="app-tab__icon" %}<span>{% t 'bookings' %}</span></a>
<a href="{% url 'payments:owner_list' %}" data-nav="owner_pay" class="app-tab">{% icon "wallet" 20 css_class="app-tab__icon" %}<span>{% t 'payments' %}</span></a>
<a href="{% url 'profile' %}" data-nav="profile" class="app-tab">{% icon "user" 20 css_class="app-tab__icon" %}<span>{% t 'profile' %}</span></a>
