{% load ui %}
<a href="{% url 'renter_home' %}" data-nav="renter_home" class="flex flex-col items-center gap-0.5 text-[10px] font-semibold">{% icon "home" 20 %}<span>{% t 'home' %}</span></a>
<a href="{% url 'listings:renter_browse' %}" data-nav="renter_browse" class="flex flex-col items-center gap-0.5 text-[10px] font-semibold">{% icon "building" 20 %}<span>{% t 'properties' %}</span></a>
<a href="{% url 'listings:renter_favorites' %}" data-nav="renter_favorites" class="flex flex-col items-center gap-0.5 text-[10px] font-semibold">{% icon "heart" 20 %}<span>{% t 'favorites' %}</span></a>
<a href="{% url 'bookings:renter_list' %}" data-nav="renter_list" class="flex flex-col items-center gap-0.5 text-[10px] font-semibold">{% icon "clipboard" 20 %}<span>{% t 'bookings' %}</span></a>
<a href="{% url 'payments:renter_list' %}" data-nav="renter_list_pay" class="flex flex-col items-center gap-0.5 text-[10px] font-semibold">{% icon "receipt" 20 %}<span>{% t 'payments' %}</span></a>
